.balance-summary {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-top: dotted;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    border-style: none;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    margin: 10px;
    width: 20%;
}

